@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  color: #fff;
}

/* ===== Main Weather ====== */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main-weather .description {
  font-size: 1.5em;
  font-weight: 600;
}

.main-weather .temp {
  font-size: 3.5em;
  font-weight: 600;
}

.main-weather .change-location a {
  color: #fff;
}

.main-weather {
  margin-left: 50px;
}

/*===== Weather details ====== */

.detail {
  display: flex;
  margin-bottom: 15px;
}

.detail .value {
  font-size: 1.5em;
  font-weight: 600;
}

.detail-image {
  font-size: 24px;
  font-weight: 100;
}

.weather-details {
  margin-right: 50px;
}

.weather-details p {
  margin: 4px 10px;
}


/* ===== Forecast section ====== */

.forecast-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px;
}

.forecast-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 150px;
  height: auto;
  margin-top: 20px;
  border-radius: 3px;
  padding: 15px;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.forecast-detail:hover {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.75);
}

.forecast-detail .temp {
  font-size: 2.5em;
  font-weight: 600;
}



.time p {
  margin-top: 0;
}
.temp p {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.progress-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.progress-bar .cog {
  font-size: 200px;
  color: #ffb300;
}

.progress-bar p {
  font-weight: 600;
  font-size: 2rem;
}

.error-image {
  margin: 0 auto;
  width: 100px;
}
.error-image img {
  width: 10rem;
}

.error-message p{
  font-weight: 600;
  font-size: 2rem;
}

footer {
  margin: 20px 60px;
  text-align: right;
}

footer a {
  color: #fff;
}

footer a:hover{
  text-decoration: underline;
}

footer a span{
  color: #ffb300;
}


/* ======= Not found ==== */

div .location-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/*===== Media queries ======= */

@media(max-width: 768px){
  .error-image img {
    width: 7rem;
  }

  .error-image {
    width: 100px;
    margin: 0 auto;
  }
}
@media(max-width: 468px) {
  .forecast-detail {
    width: 250px;
  }

  .main {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }

  .main-weather {
    margin: auto;
  }

  .detail {
    align-self: stretch;
  }

  .weather-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;

  }

  
  

}

@media(min-width: 800px){
  .forecast-main {
    margin-top: 10px;
  }
}

